/**
#wee:
{
	background-image: url(images/4625778905_81effe5628_o.jpg);
	background-size:100%;
}
*/


#textID{
	/*margin-left:75px;
	margin-right:75px;
	padding:5px;*/
}

p {
	font-size: 17px;
	color:#4B4B4B;
}

li {
	font-size:17px;
	color:#4B4B4B;
}

#schedule{
	border-radius: 15px;
	background-color:#E4E4E4;
	border:2px solid black;
}

a{
	font-size:17px;
}

#hackathonHeading{
	/*color:#0033FF;  */
	color:black; 
	/*text-shadow: 2px 2px black;*/
}

#inputText{
	font-size: 17px;
	color: red;
}


#githubLink{

	font-size:20px;
	text-align:center;
}