/**
#wee:
{
	background-image: url(images/4625778905_81effe5628_o.jpg);
	background-size:100%;
}
*/


#textID{
	margin-left:75px;
	margin-right:75px;
	padding:5px;
}

p {
	font-size: 17px;
	color:#4B4B4B;
}

li {
	font-size:17px;
	color:#4B4B4B;
}